{% extends "network/layout.html" %}

{% block body %}
{% if posts.has_previous %}
    <a href="?page=1">First</a>
    <a href="?page={{ posts.previous_page_number }}">Previous</a>
{% endif %}

{% if posts.has_next %}
    <a href="?page={{ posts.next_page_number }}">Next</a>
    <a href="?page={{ posts.paginator.num_pages }}">Last</a>
{% endif %}

<ul>
    {% for post in posts %}
        <li>
            {{ post }}
            {% if post.user == request.user %}
                <button class="edit-post-btn" data-post-id="{{ post.id }}">Edit</button>
            {% endif %}
        </li>
    {% endfor %}
</ul>
{% endblock %}
